@model BugTrackSystem.Models.Ticket
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

@Html.ActionLink("Edit","EditTicketDetail","Tickets",new { id = Model.Id},null)
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Submitter
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Create date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        @if (Model.Updated != null)
        {
            <dt>
                Updated date
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>
        }

        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketStatus.Name)
        </dd>

        <dt>
            Type
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketType.Name)
        </dd>

        <dt>
            Property
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketProperty.Name)
        </dd>

        <dt>
            Assigned developer
        </dt>

        @if (ViewBag.Identity == "Admin" || ViewBag.Identity == "Manager")
        {
            if (Model.AssignedUserId == null)
            {
                <dd>
                    @Html.ActionLink("Assign developer", "AssignUserToTicket", "Tickets", new { id = Model.Id }, null)
                </dd>
            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.AssignedUser.Email) @Html.ActionLink("Remove developer", "RemoveUserFromTicket", "Tickets", new { id = Model.Id }, null)
                </dd>
            }
        }
        else if (ViewBag.Identity == "Developer")
        {
            <dd>
                You are assigned to this ticket.
            </dd>
        }
        else if (ViewBag.Identity == "Submitter")
        {
            if (Model.AssignedUserId == null)
            {
                <dd>
                    No one is assigned to this ticket yet.
                </dd>
            }
            else
            {
                <dd>
                    @Html.DisplayFor(model => model.AssignedUser.Email)
                </dd>
            }
        }

        <dt>
            Attachments
        </dt>

        <dd>
            @if (Model.Attachments != null)
            {
                foreach (var item in Model.Attachments)
                {
                    <div>Add date: @item.Date</div>
                    <div>Description: @item.Description</div>
                    <div>File path: @item.FilePath</div>
                    <div>File url: @item.FileUrl</div>
                    <div>By @item.User.Email</div>
                    if (ViewBag.Identity == "Admin" || (ViewBag.Identity == "Manager" && item.UserId == ViewBag.UserId) || item.UserId == ViewBag.UserId)
                    {
                        @Html.ActionLink("Edit", "EditAttchment", new { id = item.Id }, null) @Html.ActionLink("Delete", "DeleteAttchmentFormTcket", new { id = item.Id })
                    }
                }
            }
            | @Html.ActionLink("Add attachment", "AddAttchmentToTicket", new { id = Model.Id }, null)
        </dd>

        <dt>
            Comments
        </dt>

        <dd>
            @if (Model.Comments != null)
            {
                foreach (var item in Model.Comments)
                {
                    <div>Add date: @item.Date</div>
                    <div>Description: @item.Body</div>
                    <div>By @item.User.Email</div>
                    if (ViewBag.Identity == "Admin" || ViewBag.Identity == "Manager" || item.UserId == ViewBag.UserId)
                    {
                        @Html.ActionLink("Edit", "EditComment", new { id = item.Id }, null) @Html.ActionLink("Delete", "DeleteCommentFromTcket", new { id = item.Id })
                    }
                }
            }
            | @Html.ActionLink("Add comment", "AddCommentToTicket", new { id = Model.Id }, null)
        </dd>

        <dt>
            Histroy
        </dt>

        <dd>
            @if (Model.Histories != null)
            {
                foreach (var item in Model.Histories)
                {
                    <div>Date: @item.Date</div>
                    <div>Property: @item.Property</div>
                    <div>Old value: @item.OldValue</div>
                    <div>New value: @item.NewValue</div>
                }
            }
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "Manage")
</div>