@model  PagedList.IPagedList<BugTrackSystem.Models.Ticket>
    @using PagedList.Mvc;
 <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    <b> Search Option: </b>
    @Html.RadioButton("option", "Title") <text>Title</text>
    @Html.RadioButton("option", "Description") <text> Description </text>
    @Html.RadioButton("option", "Status")<text>Status</text>
    @Html.RadioButton("option", "Priority")<text>Priority</text>
    @Html.RadioButton("option", "Type")<text>Type</text>
    @Html.RadioButton("option", "User")<text>User</text>
    @Html.RadioButton("option", "Project")<text>Project</text>

    @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}
<hr />
<p>Most Recent Tickets:</p>
@foreach (var ticket in Model)
{
    <table style="width: 43%;border:groove;">
        <tr>
            <th>Ticket: @ticket.Title</th>
        </tr>
        <tr>
            <td style="padding:15px;">@ticket.Description Ticket description goes here</td>
        </tr>
        <tr>
            <td>Assigned To: @((ticket.AssignedUserId == null) ? "Not Assigned" : @ticket.GetAssignedUserName(ticket.AssignedUserId))</td>
        </tr>
        <tr>
            <th>@Html.ActionLink("Detail", "Detail", "Tickets", new { id = ticket.Id }, null)</th>
        </tr>
    </table>
    <br />

}

Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page=>Url.Action("Search",
    new {page , option=ViewBag.option, search = ViewBag.search }))
