@model BugTrackSystem.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<style>
    .block {
        width: 50%;
        float: left;
        display: inline;
    }
    table {
        border-collapse: separate;
        border: solid black 2px;
        box-shadow: 5px 10px #888888;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-left: solid black 1px;
        border-top: solid black 1px;
    }

    th {
        border-top: none;
    }

        td:first-child, th:first-child {
            border-left: none;
        }

    .floatleft {
        width: 50%;
        float: left;
    }

    .floatright {
        width: 50%;
        float: right;
    }

    .container {
        overflow: hidden;
    }
</style>


@if (User.IsInRole("Admin"))
{

    <h3>Welcome to the Admin Dashboard!</h3>

    <div class="block">
            <p>Current Projects: @Model.Projects.Count()</p>
            <div>
                <b>
                    @Html.ActionLink("Create New Project", "Create", "Projects")
                </b>               
            </div>

            @foreach (var project in Model.Projects)
            {
                <table style="width: 43%;border:groove;">
                    <tr>
                        <th>Project: @project.Title</th>
                    </tr>
                    <tr>
                        <td style="padding:15px;">@project.Description All projects have no description right now. This is a placeholder. </td>
                    </tr>
                    <tr>
                        <td>
                            Project Manager: @((project.ApplicationUsers == null) ? "No Project Manager Assigned" :"Project Manager" )
                            @Html.ActionLink("Delete Project", "Delete", "Projects", new { id = project.Id }, null)    |

                            @Html.ActionLink("Edit Project", "Edit", "Projects", new { id = project.Id }, null)   |
                            @Html.ActionLink("Assign User", "AddUserToProject", "Projects", new { id = project.Id }, null)
                        </td>                
                    </tr>
                    
                    

                </table>
                <br />

            }
        </div>
        <div class="block">
            <p>Most Recent Tickets:</p>
            @foreach (var ticket in Model.Tickets)
            {
                <table style="width: 43%;border:groove;">
                    <tr>
                        <th>Ticket: @ticket.Title</th>
                    </tr>
                    <tr>
                        <td style="padding:15px;">@ticket.Description</td>
                    </tr>
                    <tr>
                        <td>Assigned To: @((ticket.AssignedUserId == null) ? "Not Assigned" : @ticket.GetAssignedUserName(ticket.AssignedUserId))</td>
                    </tr>
                </table>
                <br />

            }
        </div>
}
else if (User.IsInRole("Manager"))
{

    <h3>Welcome to the Project Manager Dashboard!</h3>

    <div class="block">
        <p>Current Projects: @Model.Projects.Count()</p>
        <div>
            <b>
                @Html.ActionLink("Create New Project", "Create", "Projects")
            </b>
        </div>

        @foreach (var project in Model.Projects)
        {
            <table style="width: 43%;border:groove;">
                <tr>
                    <th>Project: @project.Title</th>
                </tr>
                <tr>
                    <td style="padding:15px;">@project.Description All projects have no description right now. This is a placeholder. </td>
                </tr>
                <tr>
                    <td>
                        Project Manager: @project.ApplicationUsers.ToString()
                        @Html.ActionLink("Delete Project", "Delete", "Projects", new { id = project.Id }, null)    |

                        @Html.ActionLink("Edit Project", "Edit", "Projects", new { id = project.Id }, null)
                    </td>
                </tr>
            </table>
            <br />

        }
    </div>
        <div class="block">
            <p>Most Recent Tickets:</p>
            @foreach (var ticket in Model.Tickets)
            {
                <table style="width: 43%;border:groove;">
                    <tr>
                        <th>Ticket: @ticket.Title</th>
                    </tr>
                    <tr>
                        <td style="padding:15px;">@ticket.Description</td>
                    </tr>
                    <tr>
                        <td>Assigned To: @((ticket.AssignedUserId == null) ? "Not Assigned" : @ticket.GetAssignedUserName(ticket.AssignedUserId))</td>
                    </tr>
                </table>
                <br />

            }
        </div>
}
else
{
    <p>Most Recent Tickets:</p>
    foreach (var ticket in Model.Tickets)
    {
        <table style="width: 43%;border:groove;">
            <tr>
                <th>Ticket: @ticket.Title</th>
            </tr>
            <tr>
                <td style="padding:15px;">@ticket.Description Ticket description goes here</td>
            </tr>
            <tr>
                <td>Assigned To: @((ticket.AssignedUserId == null) ? "Not Assigned" : @ticket.GetAssignedUserName(ticket.AssignedUserId))</td>
            </tr>
        </table>
        <br />

    }

}
