@model  PagedList.IPagedList<BugTrackSystem.Models.Ticket>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ViewTickets";
}
<div>

    Sort By:
    @Html.ActionLink("Title", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Owner", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Assignment", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Created", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Updated", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Type", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Priority", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Status", "SortList", new { param = "title" })&nbsp;|
    @Html.ActionLink("Project", "SortList", new { param = "title" })&nbsp;|


</div>
All Tickets:
@foreach (var ticket in Model)
{
    <table style="width: 43%;border:groove;">
        <tr>
            <th>Ticket: @ticket.Title</th>
        </tr>
        <tr>
            <td style="padding:15px;">@ticket.Description Ticket description goes here</td>
        </tr>
        <tr>
            <td>Assigned To: @((ticket.AssignedUserId == null) ? "Not Assigned" : @ticket.GetAssignedUserName(ticket.AssignedUserId))</td>
        </tr>
        <tr>
            <th>@Html.ActionLink("Detail", "Detail", "Tickets", new { id = ticket.Id }, null)</th>
        </tr>
    </table>
    <br />
}
    Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ViewTickets",
        new { page, option = ViewBag.option, search = ViewBag.search }))
